/*
Main.css
==================================
Begin with generic 'mobile first' styles
*/

/*
Normalize the box model
==================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
 }

/*
global styles
==================================
*/

html, body {
    height: 100%;
}

/*
Typography
==================================
*/

body {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.466666667;
}

h1,
h3,
h4,
h5,
strong {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
}

.site-title {
    font-size: 1.625em;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: normal;
    color: #2e27ad;
    margin: 0;
    line-height: 1.2941176470588236;
    display: inline-block;
}

h2 {
    font-weight: 400;
    font-style: normal;
    font-size: 1.375em;
    margin: 1.4em 0 0 0;
}

h4 {
    font-size: 1em;
    text-transform: uppercase;
}

.page-title {
    margin-top: .727272727em; /* 16/22 */
}

/*
Lists
--------------------------------
*/

.main-content ul {
    padding-left: 1.1em;
}

.main-content li {
    margin-bottom: 1em;
}

li h3,
li h4 {
    margin: 0;
}

li p {
    margin-top: 0;
}

/*
Links
==================================
*/

a {
    -webkit-transition: .2s;
       -moz-transition: .2s;
            transition: .2s;
}

a,
a:link,
a:visited {
    color: #0072ce;
    border-bottom: 1px dotted #0072ce;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #7eb8dd;
    color: #7eb8dd;
    text-decoration: none;
}

a:active {
    border-bottom: 1px solid #002d72;
    color: #002d72;
    text-decoration: none;
}

a:focus {
    border-bottom: 1px solid #0072ce;
    color: #0072ce;
    outline: thin dotted;
    text-decoration: none;
}

a.title-link {
    color: #232F3E;
    border-bottom: none;
}

a.title-link:hover,
a.title-link:active,
a.title-link:focus {
    color: #232F3E;
    border-bottom: none;
}

a.skip-link {
    color: #0072ce;
    border-bottom: none;
    padding: .25em;
}

a.skip-link:hover,
a.skip-link:active,
a.skip-link:focus {
    background-color: #0072ce;
    color: #fff;
    border-bottom: none;
}


/*
Navigation
==================================
*/

.sidebar-nav a {
  display: block;
  padding: 10px;
  -webkit-transition: unset;
  transition: unset;
}
.sidebar-nav a,
.sidebar-nav a:link,
.sidebar-nav a:visited {
  border-bottom: none;
  color: #232F3E;
}
.sidebar-nav li:hover,
.sidebar-nav a:focus,
.sidebar-nav li:active,
.sidebar-nav .sidebar-nav-active {
  color: #161E2D;
  border-left: 4px solid #FF9900;
  background-color: transparent;
  border-bottom: 1px solid #babbbd;
}
.sidebar-nav li:hover,
.sidebar-nav li:active,
.sidebar-nav .sidebar-nav-active {
  padding-left: 0;
}
.sidebar-nav a:focus {
  padding-left: 6px;
}
.sidebar-nav li:hover a:focus,
.sidebar-nav li:active a:focus {
  border-left: none;
  padding-left: 10px;
}
.sidebar-nav ul {
  margin: 0;
  padding: 0;
  /*border-top: 1px solid @gray-50;*/
}
.sidebar-nav li {
  list-style: none;
  border-bottom: 1px solid #babbbd;
  font-size: 1.125em;
  padding-left: 4px;
}
.sidebar-nav li:last-child {
  border-bottom: none;
}

.sidebar-nav .icon {
  display: none;
}

@media screen and (max-width: 730px) {
  .sidebar-nav {padding: 0; margin-top: -10px;}
  .sidebar-nav a.norm {display: none;}
  .sidebar-nav li.norm {display: none;}
  .sidebar-nav-active {display: none;}
  .sidebar-nav a:not(:first-child) {display: none;}
  .sidebar-nav li.icon {
    float: right;
    display: block;
  }
  .sidebar-nav a.icon {
    float: right;
    display: block;
  }

  .sidebar-nav.responsive {position: relative;}
  .sidebar-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .sidebar-nav.responsive li.norm {display: block;}
  .sidebar-nav.responsive a.norm {
    float: none;
    display: block;
    text-align: left;
  }
}

}
</


/*
Layout
==================================
*/

.logo {
    display: block;
}

.content {
  padding-top: 2em;
  padding-bottom: 2em;
}

/* offset the fixed position header for jump links */
section:before {
    display: block;
    content: "";
    height: 60px;
    margin: -60px 0 0;
}

.wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    width: 100%;
    border-bottom: 4px solid #2e27ad;
    background-color: #fff;
    padding: 2em 0;
}

/*
 Table
 =================================
*/

#scheduleTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout:fixed;
}

#scheduleTable a {
  text-decoration: none;
  color: #527FFF; 
} 

#scheduleTable a:hover {
  text-decoration: none;
  color: #2e27ad; 
} 

#scheduleTable td, #scheduleTable thead, #scheduleTable tbody {
  border: 1px solid #ddd;
  padding: 8px;
}


#scheduleTable th {
  height: 60px;
  border: 1px solid #ddd;
  padding: 16px;
}

#scheduleTable tr:nth-child(even){background-color: #f2f2f2;}

#scheduleTable tr:hover {background-color: #95b0ff;}

#scheduleTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffcc83;
  color: #161E2D;
}

/*
Footer
==================================
*/

/* for sticky footer */
.container {
    display: table;
    height: 100%;
    width: 100%;
}

footer {
    display: table-row; /* for sticky footer */
    height: 1px; /* for sticky footer */
    border-top: 2px solid #babbbd;
    background: #f1f2f2;
    width: 100%;
    font-size: 0.875em;
}

footer .wrap {
  padding-top: 2em;
  padding-bottom: 2em;
}


/*
Helpers
==================================
*/

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
    display: none !important;
    visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
    visibility: hidden;
}


/*
Style
==================================
*/

.intro {
    color: #161E2D;
}

li h4 {
    margin: 0;
}

.license {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
}

pre {
    max-width: 100%;
    font-size: 0.875em;
    overflow-y: scroll;
    background-color: #f1f2f2;
    padding: 10px;
}

/*
Post list
----------------------------------
*/

ul.posts {
    padding: 0;
}

.posts li {
    list-style: none;
}

.post-date {
    color: #232F3E;
}

/*
Repo list
----------------------------------
*/

ul.repo-list {
    margin: .5em 0 1em 0;
    padding: 0;
}

.repo-list li {
    list-style: none;
}

.repo-list p {
    margin: 0;
    font-size: 0.875em;
}

.repo-list h4 {
    text-transform: none;
}

/*
Helper Classes
==================================
*/

/*
Clearfix list
----------------------------------
*/

.group:before,
.group:after {
    content: " ";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    *zoom: 1;
}

/*
Desktop Styles
==================================
*/

@media screen and (min-width: 45em) and (min-height: 32.5em) {

    /*
    Typography
    ==============================
    */

    /*
    Layout
    ==============================
    */

    .logo {
        max-width: 30%;
        padding-right: 20px;
        float: right;
    }

    aside {
        width: 20%;
        float: left;
    }

    .main-content {
        width: 77%;
        float: right;
        margin-bottom: 120px;
    }

    /*
    Navigation
    ==============================
    */


    /*
    Style
    ==============================
    */

    /*
    Repo list
    ------------------------------
    */

    .repo-list li {
        list-style: none;
        display: block;
        float: left;
        height: 4.0625em;
        max-height: 4.0625em;
        background-color: #E7E7E6;
        border-left: 1px solid #BABBBD;
        width: 30%;
    }

    .repo-list a:link,
    .repo-list a:visited {
        display: block;
        max-height: 4.0625em;
        background-color: #E7E7E6;
        border-bottom: none;
        padding: .625em 1em 1em 1em;
    }

    .repo-list a:hover {
        color: #4D5F87;
        background-color: #CDE3F1;
    }

    .repo-list li:first-child {
        text-align: center;
        border-left: none;
        line-height: 60px;
        padding: .625em 1em;
        width: 10%;
    }

}

@media screen and (max-width: 54.375em) and (min-height: 32.5em) {

    /* keep the repo list containers the same height, but account for the need for more height */

    .repo-list li {
        height: 6em;
        max-height: 6em;
    }

    .repo-list a:link,
    .repo-list a:visited {
        max-height: 6em;
    }
}

/*
Mobile Styles
==================================
*/

@media screen and (max-width: 730px) {

    .main-content {
        margin-top: 1.em;
    }
    
    .logo {
	display: none;
        visibility: hidden;
    }

    .site-title {
	font-size: 0.9em;
	font-family: "Open Sans", Arial, sans-serif;
	font-weight: normal;
	color: #2e27ad;
	margin: 0;
	display: inline-block;
    }

    img {
	    max-width: 80%
    }

}

code, kbd, pre, samp {
    font-family: "Consolas", menlo, monospace;
    font-size: 100%;
}
code {
    border-radius: 2px;
    white-space: nowrap;
    color: #5e5e5e;
    background: light-grey;
    border: 1px solid #fbf0cb;
    padding: 0px 2px;
}
code + .copy-to-clipboard {
    margin-left: -1px;
    border-left: 0 !important;
    font-size: inherit !important;
    vertical-align: middle;
    height: 21px;
    top: 0;
}
pre {
    padding: 1rem;
    margin: 2rem 0;
    background: light-grey;
    border: 0;
    border-radius: 2px;
    line-height: 1.15;
}
pre code {
    color: black;
    background: inherit;
    white-space: inherit;
    border: 0;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

code.language-s::before {
    content: '$ ';
    color: green;
}

pre {
    position: relative;
    color: #ffffff;
}

.copy-to-clipboard {
    background-image: url(/img/clippy.svg);
    background-position: 50% 50%;
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 27px;
    height: 1.45rem;
    top: -1px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    color: #5e5e5e;
    background-color: light-grey;
    margin-left: -.2rem;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    margin-bottom: 1px;
}
.copy-to-clipboard:hover {
    background-color: #E8E2CD;
}
pre .copy-to-clipboard {
    position: absolute;
    right: 4px;
    top: 4px;
    background-color: light-grey;
    color: #ccc;
    border-radius: 2px;
}
pre .copy-to-clipboard:hover {
    background-color: #656c72;
    color: #fff;
}

