{{define "main" }}

<link rel="stylesheet" href="/assets/css/gh-fork-ribbon.css" />
<a class="github-fork-ribbon" href="{{.Site.Params.repo}}" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a> 

<script>
function myFunction() {
  var x = document.getElementById("sidebar-nav");
  if (x.className === "sidebar-nav") {
    x.className += " responsive";
  } else {
    x.className = "sidebar-nav";
  }
}
</script>

{{ .Content }}

<!--
<div id="home">
  <h2>Posts</h2>
  <ul class="posts">
    {{ $section := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{ range first 5 $section }}
      <li>
        <a href="{{ .Page.Permalink }}">{{ .Title }}</a>
        <span class="post-date">{{ .Date | dateFormat "Jan 2, 2006" }}</span>
      </li>
    {{ end }}
  </ul>
</div>
-->

{{ end }}
